<nav class="navbar-expand-lg">
    <div class="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Modifier le profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Paramètres du compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{path('app_user_delete_account')}}">Supprimer mon compte</a>
            </li>
        </ul>
    </div>
</nav>

<style>
.navbar-expand-lg{
    margin-top: 20px;
    height: 700px;
    width: 300px;
    background-color: #000000e3;
    margin-left: 20px;
    border: none;
    }
.navbar-brand{

}
.navbar-collapse{

}
.navbar-nav{
    display: flex;
    flex-direction: column;
    margin-top: 29px;

}
.nav-link{
    width: 99%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #ffffff;
    border-radius: 5px;
}


</style>